* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", "Noto Sans", sans-serif;

}

body {
  background-color: rgba(228, 225, 225, 0.801);
  /*background-image: url(./img1.jpg);*/
  background-size: cover;
  color: #002f43;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10rem;
}

.todo,
.inprogress,
.completed {
  float: left;
  border-radius: 5px;
  height: 700px;
  width: 450px;
  background-color: #a9e1e126;
  margin-left: 30px;
  -webkit-box-shadow: -11px 10px 5px 0px rgba(230, 230, 230, 1);
  -moz-box-shadow: -11px 10px 5px 0px rgba(230, 230, 230, 1);
  box-shadow: 8px 8px 8px 4px rgb(175 170 170 / 63%);
}

.todo {
  background-color: #fff;
}

.inprogress {
  background-color: #fff;
}

.completed {
  background-color: #fff;
  overflow: scroll;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  padding: 20px 10px;
}

.plus {
  border: 0em;
  letter-spacing: 0.5px;
  color: #fff;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 800;
  width: 427px;
  margin-left: 10px;
  margin-right: 10px;
}

.completed .plus {
  background-color: #2eb895;
}

.inprogress .plus {
  background-color: #fea889;
}

.todo .plus {
  background-color: #f16a6f;
}

#heading {
  position: absolute;
  top: 10%;
  left: 18%;
  font-size: 30px;
}

input[type="checkbox"] {
  /* vertical-align: bottom; */
  width: 16px;
  height: 16px;
}

input[type="text"]:focus {
  outline: none;
  border: 0.5px solid #d0f0ed;
  position: relative;
  vertical-align: bottom;
}

input[type="text"] {
  padding: 6px;
  outline: none;
  border: none;
  background: none;
  position: relative;
  vertical-align: bottom;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 600;
}

.task {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  /* background: #d0f0ed;*/

  padding: 5px;
  border-bottom: 2px solid rgb(233 239 237);
  padding-bottom: 33px;
  box-shadow: 1px 0px 4px 1px rgb(237 235 235 / 63%);
  height: 52px;
  border-radius: 2%;
  border-left: 3px solid #f16a6f;
}

.inprogress .task {
  border-left: 3px solid #fea889;
}

.completed .task {
  border-left: 3px solid #2eb895;
}

.completed input[type="text"] {
  text-decoration: line-through;
}

.completed input[type="checkbox"] {}